<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Some page</title>
	</head>
	<body>
	<h1>Maintenance</h1>
    <p>Maintenance going on. Sorry for your inconvinience.</p>
	</body>
	{{> footer}}
</html>